[submodule "demos/pixi-tutorial"]
	path = demos/pixi-tutorial
	url = https://github.com/jspecht3/pixi-tutorial
	branch = main
[submodule "demos/terminal-tutorial"]
	path = demos/terminal-tutorial
	url = git@github.com:jspecht3/terminal-tutorial.git
	branch = main
